<?xml version="1.0"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <!--
        add your targets here
        See https://github.com/nlog/NLog/wiki/Targets for possible targets.
        See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
        -->
        <!-- <target xsi:type="File"
                    name="file"
                    fileName="${basedir}/logs/alert.subscriptions.log"
                    archiveFileName="${basedir}/logs/archive/alert.subscriptions.{###}.log"
                    archiveAboveSize="10240000"
                    archiveNumbering="Sequence"
                    concurrentWrites="true"
                    maxArchiveFiles="5"
                    keepFileOpen="false"
                    layout="${longdate:universalTime=true}|${threadid}|${level}|${callsite}|${message} ${exception:innerFormat=ToString:maxInnerExceptionLevel=10:format=ToString}" /> -->
        <!-- <target name="console" xsi:type="Console" -->
        <!--         layout="${longdate:universalTime=true} ${callsite} ${level} ${message} ${exception:innerFormat=ToString:maxInnerExceptionLevel=10:format=ToString}" /> -->
        <target name="console" xsi:type="Console">
            <layout type="JsonLayout">
                <attribute name="time" layout="${longdate:universalTime=true}"/>
                <attribute name="callsite" layout="${callsite}"/>
                <attribute name="level" layout="${level}"/>
                <attribute name="message" layout="${message}"/>
                <attribute name="exception" layout="${exception:maxInnerExceptionLevel=10}"/>
                <attribute name="data" encode="false">
                    <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="20"/>
                </attribute>
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="Microsoft.AspNetCore.Hosting.*" maxlevel="Info" final="true"/>
        <logger name="*" minlevel="Info" writeTo="file"/>
        <logger name="*" minlevel="${environment:LOG_LEVEL:whenEmpty=Info}" writeTo="console"/>
    </rules>
</nlog>